@import url('https://fonts.googleapis.com/css?family=Bitter&display=swap');

.container{
  width: 80%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 600px;
  background-color: white;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  overflow: hidden;


}
.Video-wrapper {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.video{
  width: 80%;
  height: 500px;
  overflow: scroll;
  border: 2px solid lightgray;
  border-bottom: none;
  padding: 3px;

}
.Video-controls {
  color: white;
  background: #ff9466;
  padding-left: 24px;
  padding-right: 24px;
  display: grid;
  grid-gap: 12px;
  grid-template-columns: auto auto 1fr 60px;
  align-items: center;
  width: 77%;
  padding-top: 30;
  padding-bottom: 30;
}

.Video-button {
  cursor: pointer;
  color: white;
  background: #ffb088;
  border: none;
  padding: 12px;
  font-size: 16px;
  border-radius: 5px;
  transition: background 0.3s;
}
.Video-button:hover,
.Video-button:focus {
  background: #ff9466;
}

.Video-button-icon {
  position: relative;
  top: 1px;
}

.Video-button-icon-play {
  color: #099aa4;
}

.Video-button-icon-stop {
  color: #e12d39;
}

.Video-timestamp {
  justify-self: end;
}
